body {
	padding: 10px;
}

label {
	font-weight: bold !important;
}

.input-wrapper {
	margin-bottom: 20px;
}

.alert {
	text-align: center;
	font-size: 14px;
}

.center {
	text-align: center;
}

.clear {
    clear: both;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.title {
	font-weight: bold;
	margin-bottom: 20px;
}

#login-menu {
	padding: 9px 10px 11px;	
}

#login-menu, #login-menu > a {
	color: #999999;
    line-height: 19px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#comment-list-header {
	font-size: 22px;
	margin-top: 20px;
}

#comment-list {
	margin-top: 20px;
}

#content {
	margin-top: 40px;
}

#add-topic {
	margin-top: 20px;
}

#new-comment-wrapper {
	margin-top: 20px;
}

#message-area {
	resize: none;
	height: 200px;
	width: 98%;
}