body {
	padding: 10px;
}

label {
	font-weight: bold !important;
}

.input-wrapper {
	margin-bottom: 20px;
}

.alert {
	text-align: center;
	font-size: 14px;
}

.title {
	font-weight: bold;
}

#comment-list-header {
	font-size: 22px;
	margin-top: 20px;
}

#comment-list {
	margin-top: 20px;
}

#content {
	margin-top: 40px;
}

#add-topic {
	margin-top: 20px;
}

#new-comment-wrapper {
	border: 1px black solid;
	background-color: #F0F0F0;
	display: block;
	margin-top: 20px;
	padding-top: 10px;
	padding-left: 10px;
}

#message-area {
	resize: none;
	height: 200px;
	width: 98%;
}